<div class="container">
  <h1>登入</h1>
  <h2>使用您的帳戶</h2>

  <form [formGroup]="Form" #NgForm="ngForm" #form>
    <div>
      <div
        class="cross-validation"
        [class.cross-validation-error]="
          Form.errors?.identityRevealed && (Form.touched || Form.dirty)
        "
      >
        <div class="row">
          <div class="col-4"></div>

          <div class="col-1">
            <strong>帳號</strong>
          </div>
          <div class="col-auto">
            <input
              id="account"
              type="text"
              class="form-control"
              formControlName="account"
              placeholder="請輸入帳號"
              onfocus="this.select()"
              required
            />

            <div
              *ngIf="account.invalid && (account.dirty || account.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="account.errors.required">Account is required.</div>
              <div *ngIf="account.errors.minlength">
                Account must be at least 4 characters long.
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-4"></div>
          <div class="col-1">
            <strong>密碼</strong>
          </div>
          <div class="col-auto">
            <input
              id="password"
              type="password"
              class="form-control"
              formControlName="password"
              placeholder="請輸入密碼"
              onfocus="this.select()"
              *ngIf="isChecked === false"
              required
            />
            <input
              id="password"
              type="text"
              class="form-control"
              formControlName="password"
              placeholder="請輸入密碼"
              onfocus="this.select()"
              *ngIf="isChecked === true"
              required
            />
          </div>
          <div class="col-auto mt-2">
            <label
              ><input
                class="form-check-input"
                type="checkbox"
                id="show_password"
                (change)="this.isChecked = !this.isChecked"
              />顯示密碼</label
            >
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="click()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
