<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">userId</th>
            <th scope="col">User Account</th>
            <th scope="col">user Policy</th>
            <th scope="col">create Time</th>
            <th scope="col">update Time</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of listData">
          <tr>
            <td>{{ item.userId }}</td>
            <td>{{ item.userAccount }}</td>
            <td>{{ item.userPolicy }}</td>
            <td>{{ item.createTime | date: "yyyy/MM/dd HH:mm:ss" }}</td>
            <td>{{ item.updateTime | date: "yyyy/MM/dd HH:mm:ss" }}</td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                (click)="open('focusFirst', item)"
              >
                編輯
              </button>
              <button
                type="button"
                class="btn btn-danger"
                (click)="open('autofocus', item)"
              >
                刪除
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
